<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman Utama</title>

    <link rel="stylesheet" href="./assets/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

</head>

<body>
    <div id="app">
        <nav class="neobrutalism">
            <span @click="tab = 'stok'">Stok</span>
            <span @click="tab = 'tracking'">Tracking DO</span>
        </nav>

        <h3 style="font-size: 2.5em;" class="bebas-neue-regular">Dashboard Aplikasi SITTA</h3>

        <span style="font-size: 2em;" class="greeting bebas-neue-regular">Selamat Pagi</span>

        <section v-show="tab === 'stok'">
            <ba-stock-table :stok="dataBahanAjar.stok" :open-modal="openModal" :open-popup="openPopup"
                :upbjj-list="dataBahanAjar.upbjjList" :kategori-list="dataBahanAjar.kategoriList"
                :create-new-bahan-ajar="createNewBahanAjar"></ba-stock-table>
        </section>

        <section v-show="tab === 'tracking'">
            <tracking-do :tracking="dataBahanAjar.tracking" :create-new-do="createNewDo"></tracking-do>
        </section>

        <!-- Modal Bahan Ajar -->
        <div class="wrapper" :class="{ show: showWrapper }"></div>
        <modal-bahan-ajar :modal="modal" :is-create="isCreate" :is-edit="isEdit" :close-modal="closeModal"
            :save-modal="saveModal" :show-modal="showModal" :data-bahan-ajar="dataBahanAjar"></modal-bahan-ajar>

        <!-- Popup -->
        <popup-confirmation :show-popup="showPopup" :popup-message="popupMessage" :delete-bahan-ajar="deleteBahanAjar"
            :close-popup="closePopup"></popup-confirmation>

        <!-- Modal new do -->
        <div class="modalInformation neobrutalism" :class="{ show: modalDo.show }">
            <div class="neobrutalism">
                <div class="detailInformation">
                    <label for="nomorDeliveryOrder">Nomor DO</label>
                    <input disabled type="text" id="nomorDeliveryOrder" v-model="modalDo.nomorDeliveryOrder" />
                </div>

                <div class="detailInformation">
                    <label for="nim">NIM</label>
                    <input type="text" id="nim" v-model="modalDo.nim" />
                </div>

                <div class="detailInformation">
                    <label for="nama">Nama</label>
                    <input type="text" id="nama" v-model="modalDo.nama" />
                </div>

                <div class="detailInformation">
                    <label for="ekspedisi">Ekspedisi</label>
                    <select id="ekspedisi" v-model="modalDo.ekspedisi" style="padding: 5px;">
                        <option v-for="pengiriman in dataBahanAjar.pengirimanList" :key="pengiriman.kode"
                            :value="pengiriman">{{ pengiriman.kode }} - {{ pengiriman.nama }}</option>
                    </select>
                </div>

                <div class="detailInformation">
                    <label for="paket">Paket</label>
                    <select id="paket" v-model="modalDo.paket" style="padding: 5px;">
                        <option v-for="paketEach in dataBahanAjar.paket" :key="paketEach.kode" v-bind:value="paketEach">
                            {{ paketEach.kode }} - {{ paketEach.nama }}</option>
                    </select>

                    <div v-if="modalDo.paket" class="neobrutalism"
                        style="font-size: 0.875em; box-shadow: none; padding: 0px 7px;">
                        <span><i>Isi Paket:</i></span>
                        <ul>
                            <li v-for="item in modalDo.paket.isi" :key="item"><i>{{ item }}</i></li>
                        </ul>
                    </div>
                </div>

                <div class="detailInformation">
                    <label for="tanggalKirim">Tanggal Kirim</label>
                    <input type="date" id="tanggalKirim" v-model="modalDo.tanggalKirim" />
                </div>

                <div class="detailInformation">
                    <label for="totalHarga">Total Harga</label>
                    <input type="number" disabled id="totalHarga" v-model="modalDo.totalHarga" />
                </div>

            </div>

            <div style="display: flex; justify-content: flex-end; gap: 10px; margin-top: 20px;">
                <button class="buttonClose neobrutalism" style="background-color: var(--color-white) !important;"
                    @click="closeModal">Tutup</button>
                <button class="buttonClose neobrutalism" @click="saveModalDo">Simpan</button>
            </div>
        </div>
    </div>

    <template id="tpl-popup-confirmation">

    </template>

    <template id="tpl-modal-bahan-ajar">

    </template>

    <template id="tpl-stock">

    </template>

    <template id="tpl-tracking-do">

    </template>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <script src="./js/services/api.js"></script>
    <script src="./js/components/ba-stock-table.js"></script>
    <script src="./js/components/tracking-do.js"></script>
    <script src="./js/components/modal-bahan-ajar.js"></script>
    <script src="./js/components/popup-confirmation.js"></script>
    <script src="./js/app.js"></script>
</body>

</html>