<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman Utama</title>

    <link rel="stylesheet" href="./assets/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

</head>

<body>
    <div id="app">
        <nav class="neobrutalism">
            <span @click="tab = 'stok'">Stok</span>
            <span @click="tab = 'tracking'">Tracking DO</span>
        </nav>

        <h3 style="font-size: 2.5em;" class="bebas-neue-regular">Dashboard Aplikasi SITTA</h3>

        <span style="font-size: 2em;" class="greeting bebas-neue-regular">Selamat Pagi</span>

        <section v-show="tab === 'stok'">
            <ba-stock-table :stok="dataBahanAjar.stok" :open-modal="openModal" :open-popup="openPopup"
                :upbjj-list="dataBahanAjar.upbjjList" :kategori-list="dataBahanAjar.kategoriList"
                :create-new-bahan-ajar="createNewBahanAjar"></ba-stock-table>
        </section>

        <section v-show="tab === 'tracking'">
            <tracking-do :tracking="dataBahanAjar.tracking" :create-new-do="createNewDo"></tracking-do>
        </section>

        <!-- Modal Bahan Ajar -->
        <div class="wrapper" :class="{ show: showWrapper }"></div>
        <modal-bahan-ajar :modal="modal" :is-create="isCreate" :is-edit="isEdit" :close-modal="closeModal"
            :save-modal="saveModal" :show-modal="showModal" :data-bahan-ajar="dataBahanAjar"></modal-bahan-ajar>

        <!-- Popup -->
        <popup-confirmation :show-popup="showPopup" :popup-message="popupMessage" :delete-bahan-ajar="deleteBahanAjar"
            :close-popup="closePopup"></popup-confirmation>

        <!-- Modal new do -->
        <div class="modalInformation neobrutalism" :class="{ show: modalDo.show }">
            <div class="neobrutalism">
                <div class="detailInformation">
                    <label for="nomorDeliveryOrder">Nomor DO</label>
                    <input disabled type="text" id="nomorDeliveryOrder" v-model="modalDo.nomorDeliveryOrder" />
                </div>

                <div class="detailInformation">
                    <label for="nim">NIM</label>
                    <input type="text" id="nim" v-model="modalDo.nim" />
                </div>

                <div class="detailInformation">
                    <label for="nama">Nama</label>
                    <input type="text" id="nama" v-model="modalDo.nama" />
                </div>

                <div class="detailInformation">
                    <label for="ekspedisi">Ekspedisi</label>
                    <select id="ekspedisi" v-model="modalDo.ekspedisi" style="padding: 5px;">
                        <option v-for="pengiriman in dataBahanAjar.pengirimanList" :key="pengiriman.kode"
                            :value="pengiriman">{{ pengiriman.kode }} - {{ pengiriman.nama }}</option>
                    </select>
                </div>

                <div class="detailInformation">
                    <label for="paket">Paket</label>
                    <select id="paket" v-model="modalDo.paket" style="padding: 5px;">
                        <option v-for="paketEach in dataBahanAjar.paket" :key="paketEach.kode" v-bind:value="paketEach">
                            {{ paketEach.kode }} - {{ paketEach.nama }}</option>
                    </select>

                    <div v-if="modalDo.paket" class="neobrutalism"
                        style="font-size: 0.875em; box-shadow: none; padding: 0px 7px;">
                        <span><i>Isi Paket:</i></span>
                        <ul>
                            <li v-for="item in modalDo.paket.isi" :key="item"><i>{{ item }}</i></li>
                        </ul>
                    </div>
                </div>

                <div class="detailInformation">
                    <label for="tanggalKirim">Tanggal Kirim</label>
                    <input type="date" id="tanggalKirim" v-model="modalDo.tanggalKirim" />
                </div>

                <div class="detailInformation">
                    <label for="totalHarga">Total Harga</label>
                    <input type="number" disabled id="totalHarga" v-model="modalDo.totalHarga" />
                </div>

            </div>

            <div style="display: flex; justify-content: flex-end; gap: 10px; margin-top: 20px;">
                <button class="buttonClose neobrutalism" style="background-color: var(--color-white) !important;"
                    @click="closeModal">Tutup</button>
                <button class="buttonClose neobrutalism" @click="saveModalDo">Simpan</button>
            </div>
        </div>
    </div>

    <template id="tpl-popup-confirmation">
        <div class="popup" :class="{ show: showPopup }">
            <span>{{ popupMessage }}</span>
            <div style="display: flex; justify-content: flex-end; gap: 10px; margin-top: 20px;">
                <button class="buttonClose neobrutalism" style="background-color: var(--color-white) !important;"
                    @click="closePopup">Batal</button>
                <button class="buttonClose neobrutalism" @click="deleteBahanAjar">Hapus</button>
            </div>
        </div>
    </template>

    <template id="tpl-modal-bahan-ajar">
        <div class="modalInformation neobrutalism" :class="{ show: showModal }">
            <div class="neobrutalism">
                <div class="detailInformation">
                    <label for="kodeNamaMatkul">Kode Mata Kuliah / Nama Mata Kuliah</label>
                    <input v-on:keyup.enter="saveModal"
                        :class="{ invalid: !/(\/)/.test(modal.kodeNamaMatkul) || !(modal.kodeNamaMatkul.split(' / ')[1]?.length) }"
                        type="text" id="kodeNamaMatkul" v-model="modal.kodeNamaMatkul" />
                    <small
                        v-show="!/(\/)/.test(modal.kodeNamaMatkul) || !(modal.kodeNamaMatkul.split(' / ')[1]?.length)"
                        class="error-message"><i>Format harus "KODE / NAMA MATA KULIAH"</i></small>
                </div>

                <div class="detailInformation">
                    <label for="kategori">Kategori Mata Kuliah</label>
                    <select id="kategori" v-model="modal.kategori" style="padding: 5px;">
                        <option v-for="kategori in dataBahanAjar.kategoriList" :key="kategori" :value="kategori">{{
                            kategori}}</option>
                    </select>
                </div>

                <div class="detailInformation">
                    <label for="upbjj">UPBJJ</label>
                    <select id="upbjj" v-model="modal.upbjj" style="padding: 5px;">
                        <option v-for="upbjj in dataBahanAjar.upbjjList" :key="upbjj" :value="upbjj">{{ upbjj}}</option>
                    </select>
                </div>

                <div class="detailInformation">
                    <label for="lokasiRak">Lokasi Rak</label>
                    <input v-on:keyup.enter="saveModal" type="text" id="lokasiRak" v-model="modal.lokasiRak" />
                </div>

                <div class="detailInformation">
                    <label for="stok">Jumlah Stok Bahan Ajar</label>
                    <input v-on:keyup.enter="saveModal" :class="{ invalid: modal.qty < 0 }" type="number" id="stok"
                        v-model="modal.qty" min="0" />
                    <small v-if="modal.qty < 0" class="error-message"><i>Jumlah stok tidak boleh negatif</i></small>
                </div>

                <div class="detailInformation">
                    <label for="safety">Jumlah Stok Safety Bahan Ajar</label>
                    <input v-on:keyup.enter="saveModal" :class="{ invalid: modal.safety < 0 }" type="number" id="safety"
                        v-model="modal.safety" />
                    <small v-if="modal.safety < 0" class="error-message"><i>Jumlah stok safety tidak boleh
                            negatif</i></small>
                </div>

                <div class="detailInformation">
                    <label for="harga">Harga</label>
                    <input v-on:keyup.enter="saveModal" :class="{ invalid: modal.harga < 0 }" type="number" id="harga"
                        v-model="modal.harga" />
                    <small v-if="modal.harga < 0" class="error-message"><i>Harga tidak boleh negatif</i></small>
                </div>

                <div class="detailInformation">
                    <label for="status">Status</label>
                    <input disabled type="text" id="status" v-model="modal.status" />
                </div>

                <div class="detailInformation">
                    <label for="catatan">Catatan</label>
                    <textarea v-on:keyup.enter="saveModal" id="catatan" v-model="modal.catatanHTML"></textarea>
                </div>
            </div>

            <div style="display: flex; justify-content: flex-end; gap: 10px; margin-top: 20px;">
                <button class="buttonClose neobrutalism" style="background-color: var(--color-white) !important;"
                    @click="closeModal">Tutup</button>
                <button class="buttonClose neobrutalism" @click="saveModal" v-if="(isCreate || isEdit)">Simpan</button>
            </div>
        </div>
    </template>

    <template id="tpl-stock">
        <div>
            <div style="display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 20px;">
                <div
                    style="display: flex; flex-direction: row; justify-content: center; align-items: center; gap: 10px;">
                    <div class="neobrutalism" style="background-color: white;">
                        <label for="upbjjSelect"
                            style="align-self: center; margin-left: 10px; margin-right: 10px; font-weight: bold;">Filter
                            UT
                            Daerah:</label>
                        <select id="upbjjSelect" v-model="selectedUpbjj"
                            style="padding: 8px; font-size: 1em; font-weight: bold;">
                            <option v-for="upbjj in upbjjList" :key="upbjj" :value="upbjj">{{ upbjj }}</option>
                        </select>
                    </div>

                    <div class="neobrutalism" style="background-color: white;">
                        <label for="kategoriSelect"
                            style="align-self: center; margin-left: 10px; margin-right: 10px; font-weight: bold;">Filter
                            Kategori:</label>
                        <select id="kategoriSelect" v-model="selectedKategori"
                            style="padding: 8px; font-size: 1em; font-weight: bold;" :disabled="!selectedUpbjj">
                            <option :value="''" selected v-if="!selectedUpbjj">Filter UT Daerah Dahulu</option>
                            <option v-for="kategori in kategoriList" :key="kategori" :value="kategori">{{ kategori }}
                            </option>
                        </select>
                    </div>

                    <div class="neobrutalism" style="background-color: white;">
                        <label for="statusSelect"
                            style="align-self: center; margin-left: 10px; margin-right: 10px; font-weight: bold;">Filter
                            Status:</label>
                        <select id="statusSelect" v-model="selectedStatus"
                            style="padding: 8px; font-size: 1em; font-weight: bold;">
                            <option v-for="status in statusList" :key="status" :value="status">{{ status }}</option>
                        </select>
                    </div>

                    <button class="neobrutalism" style="padding: 6px; cursor: pointer;" @click="clearFilters">
                        <img src="assets/img/filter-remove.svg" />
                    </button>
                </div>

                <div style="display: flex; gap: 10px;">
                    <select id="upbjjSelect" v-model="sortBy" class="neobrutalism"
                        style="padding: 8px; font-size: 1em; font-weight: bold; background-color: white;">
                        <option :value="sortBy" selected>Urut Berdasarkan</option>
                        <option :value="'judul'">Judul</option>
                        <option :value="'stok'">Stok</option>
                        <option :value="'harga'">Harga</option>
                    </select>

                    <button class="neobrutalism" style="padding: 7px; cursor: pointer;" @click="createNewBahanAjar">
                        <span style="font-size: 1.25em; justify-self: center;">+</span> Tambah Data Bahan Ajar
                    </button>
                </div>
            </div>

            <table id="tableStok" class="neobrutalism">
                <thead>
                    <tr>
                        <th>Kode Mata Kuliah / Nama Mata Kuliah</th>
                        <th>Kategori Mata Kuliah</th>
                        <th>UT-Daerah</th>
                        <th>Lokasi Rak</th>
                        <th>Jumlah Stok Bahan Ajar</th>
                        <th>Jumlah Stok Safety Bahan Ajar</th>
                        <th>Harga</th>
                        <th>Status</th>
                        <th>Aksi</th>
                    </tr>
                </thead>

                <tbody>
                    <tr v-for="bahanAjar in filteredSortedStok" :key="bahanAjar.kode">
                        <td>{{ bahanAjar.kode }} / {{ bahanAjar.judul }}</td>
                        <td v-text="bahanAjar.kategori"></td>
                        <td v-text="bahanAjar.upbjj"></td>
                        <td v-text="bahanAjar.lokasiRak"></td>
                        <td v-text="bahanAjar.qty"></td>
                        <td v-text="bahanAjar.safety"></td>
                        <td>{{ Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR'
                            }).format(bahanAjar.harga) }}
                        <td class="tooltip" v-if="bahanAjar.qty === 0" style="background-color: var(--color-red);">
                            Kosong
                            <div class="tooltipText neobrutalism" v-html="bahanAjar.catatanHTML"></div>
                        </td>
                        <td class="tooltip" v-else-if="bahanAjar.qty < bahanAjar.safety"
                            style="background-color: var(--color-yellow);">
                            Menipis
                            <div class="tooltipText neobrutalism" v-html="bahanAjar.catatanHTML"></div>
                        </td>
                        <td class="tooltip" v-else-if="bahanAjar.qty >= bahanAjar.safety"
                            style="background-color: var(--color-green);">
                            Aman
                            <div class="tooltipText neobrutalism" v-html="bahanAjar.catatanHTML"></div>
                        </td>
                        <td class="tooltip" v-else style="background-color: var(--color-green);">
                            Status tidak valid
                            <div class="tooltipText neobrutalism" v-html="bahanAjar.catatanHTML"></div>
                        </td>
                        <td>
                            <div class="wrapperActions">
                                <button class="neobrutalism" @click="openModal(bahanAjar, true)">
                                    <img src="assets/img/edit-document.svg" />
                                </button>
                                <button class="neobrutalism"
                                    @click="openPopup('Apakah Anda yakin ingin menghapus data bahan ajar ' + bahanAjar.judul, bahanAjar.kode)">
                                    <img src="assets/img/delete.svg" />
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </template>

    <template id="tpl-tracking-do">
        <div>
            <form id="formTracking" class="formTracking"
                style="display: flex; flex-direction: row; justify-content: space-between;">
                <input type="text" id="searchTracking" name="searchTracking"
                    placeholder="Masukkan Nomor DO (Delivery Order) atau NIM" class="neobrutalism"
                    v-model="searchTracking" v-on:keyup.esc="handleEscTracking" required />

                <button type="submit" class="neobrutalism"
                    style="padding: 8px; background-color: white; cursor: pointer;" @click="searchDo">Lacak
                    Pengiriman</button>
                <button type="button" class="neobrutalism"
                    style="padding: 8px; background-color: white; cursor: pointer;" @click="createNewDo"><span
                        style="font-size: 1.25em; justify-self: center;">+</span> Tambah DO Baru</button>
            </form>

            <div class="list neobrutalism" :class="{ hidden: !table.show }"
                style="margin-top: 30px; border-radius: 0.5rem;">

                <div class="cardInfo neobrutalism">
                    <div style="display: flex; justify-content: space-between;">
                        <span>{{ table.nomorDo }}</span>
                        <span class="date" id="tanggalKirim">{{ table.tanggalKirim }}</span>
                    </div>
                    <span>{{ table.nama }} - {{ table.nim }}</span>

                    <span id="expedisi">{{ table.ekspedisi }}</span>
                    <span id="status">{{ table.status }}</span>
                </div>

                <div class="detail">
                    <h4>Perjalanan Paket</h4>

                    <table class="tableTracking">
                        <thead>
                            <tr>
                                <th>Keterangan</th>
                                <th>Tanggal</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr v-for="perjalanan in table.perjalanan" :key="perjalanan.waktu">
                                <td>{{ perjalanan.keterangan }}</td>
                                <td>{{ perjalanan.waktu }}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </template>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <script src="./js/services/api.js"></script>
    <script src="./js/components/ba-stock-table.js"></script>
    <script src="./js/components/tracking-do.js"></script>
    <script src="./js/components/modal-bahan-ajar.js"></script>
    <script src="./js/components/popup-confirmation.js"></script>
    <script src="./js/app.js"></script>
</body>

</html>