<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stok Bahan Ajar</title>
    <link rel="stylesheet" href="./css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

</head>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<body>
    <div id="app">

        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h3 style="font-size: 2.5em;" class="bebas-neue-regular">Informasi Stok Bahan Ajar</h3>
            <button type="button" @click="openDashboard" class="neobrutalism backToDashboard" style="padding: 8px; cursor: pointer;">Kembali Ke Dashboard</button>
        </div>

        <div style="display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 20px;">
            <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; gap: 10px;">
                <div class="neobrutalism" style="background-color: white;">
                    <label for="upbjjSelect" style="align-self: center; margin-left: 10px; margin-right: 10px; font-weight: bold;">Filter UT Daerah:</label>
                    <select id="upbjjSelect" v-model="selectedUpbjj"  style="padding: 8px; font-size: 1em; font-weight: bold;">
                        <option v-for="upbjj in upbjjList" :key="upbjj" :value="upbjj">{{ upbjj }}</option>
                    </select>
                </div>

                <div class="neobrutalism" style="background-color: white;">
                    <label for="kategoriSelect" style="align-self: center; margin-left: 10px; margin-right: 10px; font-weight: bold;">Filter Kategori:</label>
                    <select id="kategoriSelect" v-model="selectedKategori"  style="padding: 8px; font-size: 1em; font-weight: bold;" :disabled="!selectedUpbjj">
                        <option :value="''" selected v-if="!selectedUpbjj">Filter UT Daerah Dahulu</option>
                        <option v-for="kategori in kategoriList" :key="kategori" :value="kategori">{{ kategori }}</option>
                    </select>
                </div>

                <div class="neobrutalism" style="background-color: white;">
                    <label for="statusSelect" style="align-self: center; margin-left: 10px; margin-right: 10px; font-weight: bold;">Filter Status:</label>
                    <select id="statusSelect" v-model="selectedStatus"  style="padding: 8px; font-size: 1em; font-weight: bold;">
                        <option v-for="status in statusList" :key="status" :value="status">{{ status }}</option>
                    </select>
                </div>

                <button class="neobrutalism" style="padding: 6px; cursor: pointer;" @click="clearFilters">
                    <img src="assets/filter-remove.svg"/>
                </button>
            </div>

            <div style="display: flex; gap: 10px;">
                <select id="upbjjSelect" v-model="sortBy" class="neobrutalism" style="padding: 8px; font-size: 1em; font-weight: bold; background-color: white;">
                    <option :value="sortBy" selected>Urut Berdasarkan</option>
                    <option :value="'judul'">Judul</option>
                    <option :value="'stok'">Stok</option>
                    <option :value="'harga'">Harga</option>
                </select>

                <button class="neobrutalism" style="padding: 7px; cursor: pointer;" @click="createNewBahanAjar">
                    <span style="font-size: 1.25em; justify-self: center;">+</span> Tambah Data Bahan Ajar
                </button>
            </div>
        </div>

        <table id="tableStok" class="neobrutalism">
            <thead>
                <tr>
                    <th>Kode Mata Kuliah / Nama Mata Kuliah</th>
                    <th>Kategori Mata Kuliah</th>
                    <th>UT-Daerah</th>
                    <th>Lokasi Rak</th>
                    <th>Jumlah Stok Bahan Ajar</th>
                    <th>Jumlah Stok Safety Bahan Ajar</th>
                    <th>Harga</th>
                    <th>Status</th>
                    <th>Catatan</th>
                </tr>
            </thead>

            <tbody>
                <tr v-for="bahanAjar in filteredSortedStok" :key="bahanAjar.id" @click="openModal(bahanAjar)">
                    <td>{{ bahanAjar.kode }} / {{ bahanAjar.judul }}</td>
                    <td>{{ bahanAjar.kategori }}</td>
                    <td>{{ bahanAjar.upbjj }}</td>
                    <td>{{ bahanAjar.lokasiRak }}</td>
                    <td>{{ bahanAjar.qty }}</td>
                    <td>{{ bahanAjar.safety }}</td>
                    <td>{{ Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR' }).format(bahanAjar.harga) }}</td>
                    <td v-if="bahanAjar.qty === 0" style="background-color: var(--color-red);">Kosong</td>
                    <td v-else-if="bahanAjar.qty < bahanAjar.safety" style="background-color: var(--color-yellow);">Menipis</td>
                    <td v-else-if="bahanAjar.qty >= bahanAjar.safety" style="background-color: var(--color-green);">Aman</td>
                    <td v-html="bahanAjar.catatanHTML"></td>
                </tr>
            </tbody>
        </table>

        <!-- Modal -->
        <div class="wrapper" :class="{ show: showModal }"></div>
        <div class="modalInformation neobrutalism" :class="{ show: showModal }">
            <div class="neobrutalism">
                <div class="detailInformation">
                    <label for="kodeNamaMatkul">Kode Mata Kuliah / Nama Mata Kuliah</label>
                    <input :disabled="!isCreate" :class="{ invalid: !/(\/)/.test(modal.kodeNamaMatkul) || !(modal.kodeNamaMatkul.split(' / ')[1]?.length) }" type="text" id="kodeNamaMatkul" v-model="modal.kodeNamaMatkul" />
                    <small v-if="!/(\/)/.test(modal.kodeNamaMatkul) || !(modal.kodeNamaMatkul.split(' / ')[1]?.length)" class="error-message"><i>Format harus "KODE / NAMA MATA KULIAH"</i></small>
                </div>

                <div class="detailInformation">
                    <label for="kategori">Kategori Mata Kuliah</label>
                    <select :disabled="!isCreate" id="kategori" v-model="modal.kategori"  style="padding: 5px;">
                        <option v-for="kategori in kategoriList" :key="kategori" :value="kategori">{{ kategori}}</option>
                    </select>
                </div>

                <div class="detailInformation">
                    <label for="upbjj">UPBJJ</label>
                    <select :disabled="!isCreate" id="upbjj" v-model="modal.upbjj"  style="padding: 5px;">
                        <option v-for="upbjj in upbjjList" :key="upbjj" :value="upbjj">{{ upbjj}}</option>
                    </select>
                </div>

                <div class="detailInformation">
                    <label for="lokasiRak">Lokasi Rak</label>
                    <input :disabled="!isCreate" type="text" id="lokasiRak" v-model="modal.lokasiRak" />
                </div>

                <div class="detailInformation">
                    <label for="stok">Jumlah Stok Bahan Ajar</label>
                    <input :class="{ invalid: modal.qty < 0 }" type="number" id="stok" v-model="modal.qty" min="0" />
                    <small v-if="modal.qty < 0" class="error-message"><i>Jumlah stok tidak boleh negatif</i></small>
                </div>
                
                <div class="detailInformation">
                    <label for="safety">Jumlah Stok Safety Bahan Ajar</label>
                    <input :class="{ invalid: modal.safety < 0 }" :disabled="!isCreate" type="number" id="safety" v-model="modal.safety" />
                    <small v-if="modal.safety < 0" class="error-message"><i>Jumlah stok safety tidak boleh negatif</i></small>
                </div>
                
                <div class="detailInformation">
                    <label for="harga">Harga</label>
                    <input :class="{ invalid: modal.harga < 0 }" :disabled="!isCreate" type="number" id="harga" v-model="modal.harga" />
                    <small v-if="modal.harga < 0" class="error-message"><i>Harga tidak boleh negatif</i></small>
                </div>

                <div class="detailInformation">
                    <label for="status">Status</label>
                    <input disabled type="text" id="status" v-model="modal.status" />
                </div>

                <div class="detailInformation">
                    <label for="catatan">Catatan</label>
                    <textarea :disabled="!isCreate" id="catatan" v-model="modal.catatanHTML"></textarea>
                </div>
            </div>

            <div style="display: flex; justify-content: flex-end; gap: 10px; margin-top: 20px;">
                <button class="buttonClose neobrutalism" style="background-color: var(--color-white) !important;" @click="closeModal">Tutup</button>
                <button class="buttonClose neobrutalism" @click="saveModal">Simpan</button>
            </div>
        </div>
    </div>
</body>

<script src="./js/dataBahanAjar.js"></script>
<script src="./js/stok-app.js"></script>
</html>