body {
    padding: 10px 20px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.neobrutalism {
    border: 1px solid black;
    box-shadow: 8px 8px 0px 0px black;
    transition: all 0.05s;

}

button {
    border-radius: 0.25rem;
}

button:hover {
    translate: 8px 8px;
    box-shadow: 0px 0px 0px 0px black;
}

input:focus {
    outline: none;
}

.formLogin {
    width: 50%;
    display: flex;
    flex-direction: column;

    gap: 20px;
    
    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
    }

    label {
        font-weight: bold;
    }

    input {
        border-radius: 0.75rem;

        width: 100%;
        padding: 15px 15px;
    }

    button {
        
        width: 100px;
        align-self: center;
        padding: 5px 10px;
        cursor: pointer;

        background-color: white;
    }
}

.modalWrongPassword {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 50;
    transition: all 0.1s linear;

    display: flex;
    flex-direction: column;
    gap: 10px;

    button {
        padding: 5px 10px;
        cursor: pointer;

        background-color: white;
    }
}

.modalWrongPassword.show {
    opacity: 1;
    pointer-events: auto;
}

.wrapper {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 40;
    backdrop-filter: blur(2px) brightness(0.7);
    transition: all 0.1s linear;
}

.wrapper.show {
    opacity: 1;
    pointer-events: auto;
}

nav {
    display: flex;
    width: 100%;
    align-items: center;

    span {
        text-align: center;
        flex-grow: 1;
        padding: 5px;
        border: 1px solid black;
    }

    span:hover {
        background-color: black;
        color: white;
        cursor: pointer;
    }
    
    div {
        position: relative;
    }
}

.dropdown {
    text-align: center;
    flex-grow: 1;
    padding: 5px;
    border: 1px solid black;
}

.dropdown:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    flex-direction: column;

    background-color: white;
    color: black;
    width: 200px;
}

.dropdown:hover {
    .dropdown-content {
        display: flex;
    }
}